@page
@model Explainer.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <textarea rows="25" type="text" name="data" class="exp-text-box"></textarea><br /><br />
    <input type="submit" name="send" />
}

