@model Explainer.Web.Model.TreeNode

@if (Model.Children.Any())
{
    <div>
    @foreach (var Node in Model.Children)
    {
        <div>
            <div class="grid">
                <div class="grid-item">left side data</div>
                <div class="grid-item" style=@string.Format("margin-left:{0}px", Node.TreeMargin)>@Node.Name</div>
                <div class="grid-item">right side data</div>
            </div>
        </div>
   
        <div class="tree-node-children">
            @Html.Partial("TreeNode", Node)
        </div>
    }
    </div>
}
